<div class="main">
    <div class="scroll" onclick="window.location.href='#top'">
        <i class="bi bi-arrow-up-short scroll-bi"></i><br>Scroll Up
    </div>
    <div class="container-fluid footer mt-5">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h4 class="header">About</h4>
                <p class="inner">Location
                    <br>
                    History <br>
                    Opening Hours <br>
                    Gallery <br>
                    Future plans <br>
                    Terms & Conditions
                </p>
            </div>
            <div class="col-md-3">
                <h4 class="header">Get in Touch</h4>
                <p class="inner">Know Plants
                    <br>
                    Know Gardening<br>
                    Contact Us
                </p>
                <br>
                <h4 class="header">Sections</h4>
                <p class="inner">Careers
                    <br>
                    Blogs<br>
                    Programmes
                </p>
            </div>
            <div class="col-md-3">
                <h4 class="header">Follow Us</h4>
                <p class="inner">
                    <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.linkedin.com" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.youtube.com" target="_blank"><i class="bi bi-youtube"></i></a>
                </p>
                <br><br>
                <h4 class="header"> Get in Our Inbox</h4>
                <br>
                <input class="input" placeholder="Email Address" style="font-family:Arial, bootstrap-icons">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>